@model BankLoanApp3.ViewModels.HomeLoanApplicationViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" action="/HomeLoan/Apply">
    <input type="hidden" name="GrossSalary" value="@Model.GrossSalary" />
    <input type="hidden" name="CreditScore" value="@Model.CreditScore" />
    <input type="hidden" name="PurchasePrice" value="@Model.PurchasePrice" />
    <input type="submit" value="Test Submit" />
</form>

