@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Welcome to BankLoanApp3</h1>
    <p class="lead">Explore our competitive loan options and discover how we can help you achieve your financial goals.</p>
    <a href="https://localhost:7264/Account/Login" class="btn btn-primary btn-lg">Apply for a Loan</a>
</div>

